NODE_ENV=

DATABASE_URL=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

UPLOADTHING_TOKEN=
UPLOADTHING_APP_ID=

EMAIL_SENDER_ADDRESS=
EMAIL_SENDER_NAME=

SERVICE_NAME=

BREVO_API_KEY=

WORLD_EXPRESS_API_URL=
WORLD_EXPRESS_API_KEY=

PORT=

DEBUG_DB=

FRONTEND_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

REDIS_HOST=
REDIS_PORT=

LOG_LEVEL=